<div class="col-12">
    <div class="row">
        <div class="col">
            <h3 class="head-lead">Password Protect Sheet </h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-6 mx-auto">
            <div class="row main-content">
                <ng-container *ngIf="ToggleEdit; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>
                    <div class="col-12 text-center">
                        <h4>Password Protect Sheet &nbsp; <a class="btn btn-sm text-warning" (click)="ToggleEdit=!ToggleEdit"><i class="bi bi-pencil-square"
                                    style="font-size: larger;"></i></a>
                        </h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-group">
                            <div class="col-4">
                                <Label>Password Label Sheet</Label>
                            </div>
                            <div class="col-8">
                                <p class="form-control">{{ProtectFormControl.PasswordLabel.value}}</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4">
                                <Label>Password Shipment Report Sheet</Label>
                            </div>
                            <div class="col-8">
                                <p class="form-control">{{ProtectFormControl.PasswordSheet.value}}</p>
                            </div>
                        </div>

                    </div>
                </ng-template>
                <ng-template #elseTemplate>
                    <div class="col-12 text-center">
                        <h4>Password Protect Sheet <a class="btn btn-sm text-primary" (click)="ToggleEdit=!ToggleEdit"><i class="bi bi-house"
                                    style="font-size: larger;"></i></a></h4>
                    </div>
                    <!-- <div > -->
                    <form class="col-12" [formGroup]="ProtectForm" (submit)="onSaveSubmit();">
                        <div class="row form-group">
                            <div class="col-4">
                                <Label>Password Shipment Report Sheet</Label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="PasswordLabel">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4">
                                <Label>Password Label Sheet</Label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="PasswordSheet">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mx-auto text-center">
                                <button class="btn btn-lg btn-success" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- </div> -->
                </ng-template>

            </div>
        </div>
    </div>
</div>