<div class="col-12">
    <div class="row">
        <div class="col">
            <h3 class="head-lead">Request Shipment Manage</h3>
        </div>
    </div>
</div>

<div class="col-lg-12 main-content">
    <div class="row">
        <div class="col-lg-4">
            <label for="">Model Code</label>
            <input type="search" list="model-code-choice" class="form-control" [formControl]="ModelCodeSearch">
            <datalist id="model-code-choice">
                <option *ngFor="let item of ModelMasterLists" [value]="item.ModelCode">
            </datalist>
        </div>
        <div class="col-lg-4">
            <label for="">Shipment Date</label>
            <input type="date" class="form-control" [formControl]="ShipMentDateSearch">
        </div>
        <div class="col-lg-4">
            <label for="">CPR no</label>
            <input type="search" class="form-control" [formControl]="CPRnoSearch">
        </div>
        <div class="col-lg-12">
            <button class="btn btn-block text-center" (click)="onSearch()">Search</button>
        </div>
    </div>
</div>

<div class="col-lg-12 main-content mt-2" *ngIf="RequestShipmentLists.length !=0">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>Shipment Date</td>
                        <td>CPR no</td>
                        <td>ShipPlace</td>
                        <td>ShipTo</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of RequestShipmentLists; let i=index">

                        <td>{{item.ShipDate |date}}</td>
                        <td>{{item.CPRno}}</td>
                        <td>{{item.ShipPlace}}</td>
                        <td>{{item.ShipTo}}</td>
                        <td>{{item.Status | shipStatus}}</td>
                        <td width="20%" class="text-center">
                            <button class="btn btn-sm text-primary" (click)="openModalView(modalViewRequest,item)"><i
                                    class="bi bi-search"></i></button>
                            <button [disabled]="item.scanhistories.length >0" class="btn btn-sm ml-1 text-warning" (click)="openModalEdit(modalEditRequest,item)"><i
                                    class="bi bi-pencil-square"></i></button>
                            <button [disabled]="item.scanhistories.length >0" class="btn btn-sm ml-1 text-danger" (click)="onClickDeleteShipment(item, i)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<ng-template #modalEditRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit: Request Shipment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row fill-bg">
            <div class="col-12" [formGroup]="RequestForm">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Shipment Date</label>
                            <input type="date" class="form-control" formControlName="ShipDate" [min]="MinShipmentDate">
                            <!-- <p class="form-control">{{ModalView.ShipDate | date}}</p> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>CPR no.</label>
                            <input type="text" class="form-control" formControlName="CPRno">
                            <!-- <p class="form-control">{{ModalView.CPRno}}</p> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Ship Place</label>
                            <input type="search" class="form-control" formControlName="ShipPlace" list="ship-place">
                            <datalist id="ship-place">
                                <option *ngFor="let item of MasterShipmentPlace.Value; let i=index" [value]="item.Name">
                                    {{item.Name}}</option>
                            </datalist>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Ship To</label>
                            <input type="text" class="form-control" formControlName="ShipTo">
                            <!-- <p class="form-control">{{ModalView.ShipTo}}</p> -->
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="row ">
                    <div class=" mx-auto">
                        <button class="btn" (click)="onClickSaveDetailShipment();">Save detail shipment</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row fill-bg mt-5">
            <div class="col-lg-12" *ngFor="let box of ModalEdit; let indexBox=index">
                <h5 class="head-lead">Box no. {{box.Name}} | Total Q'ty on box: {{box.TotalQty}} | Status Q'ty: {{setQty(box)}} <button (click)="onClickEditBox(modalEditBox,box);" class="btn btn-sm text-warning"><i class="bi bi-pencil-square"></i></button>
                    <button (click)="onClickAddNewModel(modalAddNewModel,box);" class="btn btn-sm text-success"><i
                            class="bi bi-plus-square"></i></button>
                </h5>
                <table class="table table-striped" *ngIf="box.Models">
                    <thead>
                        <tr>
                            <th width="10%">ModelCode</th>
                            <th width="10%">Q'ty </th>
                            <th>Size</th>
                            <th>Customer Name</th>
                            <th>Customer no.</th>
                            <th>Part Name</th>
                            <th>Pattern Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let model of box.Models; let indexModel=index">
                            <td>{{model.ModelCode}}</td>
                            <td>{{model.Qty}} </td>
                            <td>{{model.Size}}</td>
                            <td>{{model.CustomerName}}</td>
                            <td>{{model.CustomerNo}}</td>
                            <td>{{model.PartName}}</td>
                            <td>{{model.PatternName}}</td>
                            <td>
                                <button (click)="onOpenModalEditModel(modalEditModel,model,indexModel ,box,indexBox);" class="btn btn-sm text-info">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button (click)="onDeleteModel(box,indexModel);" class="btn btn-sm text-danger ml-2">
                                    <i class="bi bi-trash"></i>
                                </button>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>






<ng-template #modalEditBox let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Box</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" [formGroup]="ModalEditDetailBoxForm">

            <div class="col-4">
                <label for="">Box no. </label>
                <p class="">{{ModalEditBox.Name}}</p>
            </div>
            <div class="col-4">
                <label for="">Status Q'ty: </label>
                <p class=""> {{setQty(ModalEditBox)}}</p>
            </div>
            <div class="col-4">
                <label for="">Total Q'ty </label>
                <input type="number" class="form-control" formControlName="TotalQty">
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onSubmitEditBox()">
            <i class="bi bi-check" style="font-size: 1rem;"></i>
            Save</button>
    </div>
</ng-template>

<ng-template #modalEditModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Model</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <label for="">Q'ty</label>
                <input type="number" class="form-control" [formControl]="ModalEditModelFormControl.Qty" min="0" [max]="ModalEditModelFormControl.MinQty.value">
            </div>
            <div class="col-6">
                <label for="">Model</label>
                <select class="custom-select" [formControl]="ModalEditModelFormControl.ModelCode" #selectEditModal (change)="onChangeModel(selectEditModal.value);">
                    <option [value]="item.ModelCode" *ngFor="let item of ModelMasterLists; let i=index">
                        {{item.ModelCode}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">ModelCode</th>
                        <th width="10%">Q'ty </th>
                        <th>Size</th>
                        <th>Customer Name</th>
                        <th>Customer no.</th>
                        <th>Part Name</th>
                        <th>Pattern Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ModalEditModelFormControl.ModelCode.value}}</td>
                        <td>{{ModalEditModelFormControl.Qty.value}} </td>
                        <td>{{ModalEditModelFormControl.Size.value}}</td>
                        <td>{{ModalEditModelFormControl.CustomerName.value}}</td>
                        <td>{{ModalEditModelFormControl.CustomerNo.value}}</td>
                        <td>{{ModalEditModelFormControl.PartName.value}}</td>
                        <td>{{ModalEditModelFormControl.PatternName.value}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onSubmitEditModel();">
            <i class="bi bi-check" style="font-size: 1rem;"></i>
            Save</button>
    </div>
</ng-template>

<ng-template #modalAddNewModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add New Model</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <label for="">Q'ty</label>
                <input type="number" class="form-control" [formControl]="ModalAddNewModelFormControl.Qty">
            </div>
            <div class="col-6">
                <label for="">Model</label>
                <select class="custom-select" [formControl]="ModalAddNewModelFormControl.ModelCode" #selectAddNewModal (change)="onChangeModelInAddNewModel(selectAddNewModal.value);">
                    <option [value]="item.ModelCode" *ngFor="let item of ModelMasterLists; let i=index">
                        {{item.ModelCode}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">ModelCode</th>
                        <th width="10%">Q'ty </th>
                        <th>Size</th>
                        <th>Customer Name</th>
                        <th>Customer no.</th>
                        <th>Part Name</th>
                        <th>Pattern Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ModalAddNewModelFormControl.ModelCode.value}}</td>
                        <td>{{ModalAddNewModelFormControl.Qty.value}} </td>
                        <td>{{ModalAddNewModelFormControl.Size.value}}</td>
                        <td>{{ModalAddNewModelFormControl.CustomerName.value}}</td>
                        <td>{{ModalAddNewModelFormControl.CustomerNo.value}}</td>
                        <td>{{ModalAddNewModelFormControl.PartName.value}}</td>
                        <td>{{ModalAddNewModelFormControl.PatternName.value}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSubmitAddNewModel();">
            <i class="bi bi-check" style="font-size: 1rem;"></i>
            Add</button>
    </div>
</ng-template>




<ng-template #modalViewRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title">View: Request Shipment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row fill-bg">
            <div class="col-lg-2">
                <div class="form-group">
                    <label>Shipment Date</label>
                    <p class="form-control">{{ModalView.ShipDate | date}}</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>CPR no.</label>
                    <p class="form-control">{{ModalView.CPRno}}</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label>Ship Place</label>
                    <p class="form-control">{{ModalView.ShipPlace}}</p>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <label>Ship To</label>
                    <p class="form-control">{{ModalView.ShipTo}}</p>
                </div>
            </div>

            <hr>

            <div class="col-lg-12" *ngFor="let box of ModalView.boxs; let i=index">
                <h5 class="head-lead">Box no: {{box.Name}} | Total Q'ty on box: {{box.TotalQty}} | Status Q'ty: {{setQty(box)}} </h5>
                <table class="table table-striped" *ngIf="box.Models">
                    <thead>
                        <tr>
                            <th width="10%">ModelCode</th>
                            <th width="10%">Q'ty </th>
                            <th>Size</th>
                            <th>Customer Name</th>
                            <th>Customer no.</th>
                            <th>Part Name</th>
                            <th>Pattern Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let model of box.Models; let indexModel=index">
                            <td>{{model.ModelCode}}</td>
                            <td>{{model.Qty}}</td>
                            <td>{{model.Size}}</td>
                            <td>{{model.CustomerName}}</td>
                            <td>{{model.CustomerNo}}</td>
                            <td>{{model.PartName}}</td>
                            <td>{{model.PatternName}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="ModalView.Status=='1'" type="button" class="btn btn-block btn-success" (click)=" onSubmitRequestShipment(); ">
            <i class="bi bi-check " style="font-size: 1rem; "></i>
            SUBMIT</button>
    </div>
</ng-template>