.main-content {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 25%);
}

.table tbody tr {
    transition: ease all 0.25s;
}

.table tbody tr:hover {
    transition: ease all 0.25s;
    background-color: lightgray;
}

.head-content {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 25%);
}

.head-lead {
    border-bottom: 3px solid black;
}