/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons";
@import "~bootstrap/dist/css/bootstrap.min.css";

/* @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
} */


/* @font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
} */

.main-content {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 25%);
}

label {
    font-weight: 700;
}

.head-lead {
    border-bottom: 3px solid black;
}

@media only screen and (min-width: 600px) {
    * {
        font-size: 8px;
    }
}

@media only screen and (min-width: 800px) {
    * {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1300px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1600px) {
    * {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2000px) {
    * {
        font-size: 16px;
    }
}